<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Application UI Strings -->
        <key>App.Routing.TabName</key>
        <string>Routing Assist</string>

        <key>App.Panels.Routing.Initialize</key>
        <string>Setup</string>

        <key>App.Panels.Routing.Routing</key>
        <string>Routing</string>

        <key>App.Panels.Routing.PassPoints</key>
        <string>Pass Points</string>

        <key>App.Panels.Routing.Racks</key>
        <string>Pipe Spaces</string>


        <!-- Application UI Button Strings -->
        <key>App.Commands.Routing.FileRoutingCommand</key>
        <string>Import From-To</string>


        <!-- Transaction Names -->
        <key>TransactionName.Commands.Routing.PickRouting</key>
        <string>Add From-To</string>

        <key>TransactionName.Commands.Routing.RoutingFromFile</key>
        <string>Import From-To</string>

        <key>TransactionName.Commands.Routing.PickAndReRoute</key>
        <string>Reroute Selected</string>

        <key>TransactionName.Commands.Routing.RerouteAll</key>
        <string>Reroute All</string>

        <key>TransactionName.Commands.Routing.EraseSelectedRoutes</key>
        <string>Erase Selected</string>

        <key>TransactionName.Commands.Routing.EraseAllRoutes</key>
        <string>Erase All From-Tos</string>


        <!-- Dialogs -->
        <key>Dialog.Commands.Routing.PickRouting.PickFirst</key>
        <string>Pick the FROM point of a from-to</string>
        <key>Dialog.Commands.Routing.PickRouting.PickSecond</key>
        <string>Pick the TO point of a from-to</string>

        <key>Dialog.Commands.Routing.PickAndReRoute.Pick</key>
        <string>Pick a rerouting from-to</string>

        <key>Dialog.Commands.Routing.FromTo.FileName</key>
        <string>From-to list file</string>
        <key>Dialog.Commands.Routing.FromTo.Title.Export</key>
        <string>Export from-to list file</string>
        <key>Dialog.Commands.Routing.FromTo.Title.Import</key>
        <string>Import from-to list file</string>


        <!-- Parameter Names -->
        <key>Revit.Property.Builtin.Width</key>
        <string>Width</string>

        <key>Revit.Property.Builtin.Height</key>
        <string>Height</string>

        <key>Revit.Property.Builtin.DiameterR1</key>
        <string>Nominal Diameter r1</string>

        <key>Revit.Property.Builtin.DiameterR2</key>
        <string>Nominal Diameter r2</string>

        <key>Revit.Property.Builtin.DiameterR3</key>
        <string>Nominal Diameter r3</string>

        <key>Revit.Property.Builtin.OffsetWidth</key>
        <string>Offset Width</string>

        <key>Revit.Property.Builtin.OffsetHeight</key>
        <string>Offset Height</string>


    </dict>
</plist>
