<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Application UI Strings -->
        <key>App.Routing.TabName</key>
        <string>自動ルーティング</string>

        <key>App.Panels.Routing.Initialize</key>
        <string>有効化</string>

        <key>App.Panels.Routing.Routing</key>
        <string>ルーティング</string>

        <key>App.Panels.Routing.PassPoints</key>
        <string>通過点</string>

        <key>App.Panels.Routing.Racks</key>
        <string>パイプスペース</string>


        <!-- Application UI Button Strings -->
        <key>App.Commands.Routing.FileRoutingCommand</key>
        <string>From-Toのインポート</string>


        <!-- Transaction Names -->
        <key>TransactionName.Commands.Routing.PickRouting</key>
        <string>From-Toの作成</string>

        <key>TransactionName.Commands.Routing.RoutingFromFile</key>
        <string>From-Toの読込</string>

        <key>TransactionName.Commands.Routing.PickAndReRoute</key>
        <string>選択From-Toを再ルーティング</string>

        <key>TransactionName.Commands.Routing.RerouteAll</key>
        <string>全て再ルーティング</string>

        <key>TransactionName.Commands.Routing.EraseSelectedRoutes</key>
        <string>選択From-Toを削除</string>

        <key>TransactionName.Commands.Routing.EraseAllRoutes</key>
        <string>全てのFrom-Toを削除</string>


        <!-- Dialogs -->
        <key>Dialog.Commands.Routing.PickRouting.PickFirst</key>
        <string>From-Toの始点を選択してください</string>
        <key>Dialog.Commands.Routing.PickRouting.PickSecond</key>
        <string>From-Toの終点を選択してください</string>

        <key>Dialog.Commands.Routing.PickRouting.PickSecond</key>
        <string>再ルーティングしたいFrom-Toを選択してください</string>

        <key>Dialog.Commands.Routing.FromTo.FileName</key>
        <string>From-Toリスト ファイル</string>
        <key>Dialog.Commands.Routing.FromTo.Title.Export</key>
        <string>From-Toリストの保存</string>
        <key>Dialog.Commands.Routing.FromTo.Title.Import</key>
        <string>From-Toリストの読込</string>


        <!-- Parameter Names -->
        <key>Revit.Property.Builtin.Width</key>
        <string>幅</string>

        <key>Revit.Property.Builtin.Height</key>
        <string>高さ</string>

        <key>Revit.Property.Builtin.DiameterR1</key>
        <string>呼び径r1</string>

        <key>Revit.Property.Builtin.DiameterR2</key>
        <string>呼び径r2</string>

        <key>Revit.Property.Builtin.DiameterR3</key>
        <string>呼び径r3</string>

        <key>Revit.Property.Builtin.OffsetWidth</key>
        <string>オフセット幅</string>

        <key>Revit.Property.Builtin.OffsetHeight</key>
        <string>オフセット高さ</string>

    </dict>
</plist>
